*~
*.pyc
vendor
.idea

node_modules
npm-debug.log.*
npm-debug.log

static/js/*.js
static/js/*.map

.DS_Store

.vscode
pkg
bin
golang.org
github.com
local_db
gae_local_data
ieosa-dev-dfe5b24e93c5.json
!package.json
*.log
.python-version
